/* header.css */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #03abff;
    padding: 20px 10px;
}

.wrap-logo {
    display: flex;
    align-items: center;
}

header a {
    color: #212121;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}

header a.logo {
    font-size: 25px;
    font-weight: bold;
}

header a:hover {
    background-color: #1e91d5;
    color: #212121;
}

header a.active {
    background-color: #005eed;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-right: 10px; /* Расстояние между кнопками */
}

.registration-dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #03abff;
    color: #212121;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.dropbtn:hover {
    background-color: #1e91d5;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.registration-dropdown:hover .dropdown-content {
    display: block;
}
